* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'San Francisco', sans-serif;
    color: white;
    /* outline: 1px solid rgba(255, 255, 255, 0.13); */
}

html {
    background: linear-gradient(to left top, #0D3C8B, #854136);
    /* background: linear-gradient(to left top, #854136, #0D3C8B); */
    height: 300vh;
}

body {
    width: 100vw;
    /* overflow-x: hidden; */
}

.top-bar {
    padding: 0 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 80px;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.05);
    overflow: hidden;
    z-index: 1;
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0.2);
}

h4 {
    font-weight: 100;
    font-size: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid white;
}

a {
    text-decoration: none;
    transition: .5s;
}

a:hover {
    transform: scale(1.05);
}

header {
    width: 100vw;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}

.logo {
    display: block;
    margin: 100px auto 0 auto;
    width: 150px;
    height: 150px;
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0);
}

h1 {
    display: inline-block;
    font-weight: 700;
    font-size: 3vw;
    text-align: center;
    height: 8vh;
    margin: 25px 0;
    padding-bottom: 30px;
    border-bottom: 1px solid white;
}

h2 {
    text-align: center;
    font-size: 3vw;
    font-weight: 100;
    line-height: 3.5vw;
    margin-top: 5px;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 90px;
    transition: .5s ease;
}

.arrow-down {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
    margin-top: -10px;
}

.circle:hover {
    transform: scale(1.1);
    transition: .5s ease;
}

header img {
    margin-top: 100px;
    width: 60vw;
    opacity: 1;
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0.46);
}

#section {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20vh;
    height: 50vh;
}

.line-break {
    width: 25vw;
    height: 3px;
    background-color: white;
}

.h2-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    background-color: white;
    padding: 50px;
    margin-top: -50px;
    box-shadow: 8px 32px 45px rgba(42, 42, 42, 0.46);
}

#section h2 {
    font-size: 3vw;
    line-height: 3.5vw;
    text-align: center;
    color: #E37270;
    margin: 50px 100px;
}

.download-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 300px;
    padding: 40px;
    border: 1px solid #E37270;
    transition: .5s;
    box-shadow: 2px 16px 23px rgba(42, 42, 42, 0.2);
}

#section a {
    color: #E37270;
    border: 0;
}

h3 {
    font-size: 30px;
    font-weight: 100;
    color: #E37270;
    text-align: center;
    transition: .5s;
}

.download-btn:hover {
    background-color: #E37270;
    transition: .5s;
}

.download-btn:hover > h3 {
    color: #fff;
    transition: .5s;
}
